In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("./schedule.csv")
df.head()

   TrainA  TrainB  TrainC  TrainHC
0       9      14      11       -1
1      10      17      17       -1
2       6      18      20       -1
3      16      17      15       -1
4       6      12      20       13

In [5]:
df['Crews']=''
df['Crew Wages']=''
df['Demurrage Fees']=''
df['Total Cost']=''

In [6]:
sample=df.loc[0:1000,::]
sample.head()

   TrainA  TrainB  TrainC  TrainHC Crews Crew Wages Demurrage Fees Total Cost
0       9      14      11       -1
1      10      17      17       -1
2       6      18      20       -1
3      16      17      15       -1
4       6      12      20       13

### Equations
$$
min(cost+demurrage)
$$
  
$$
cost=mine\_cost+load\_cost
$$
  
$$
\frac{12}{c} (24000c-6000)=mine\_cost
$$
  
$$
\frac{9}{c} (36000c-9000)=load\_cost  
$$
  
$$
demurrage=reg\_demurrage+hc\_demurrage
$$
  
$$
15,000(reg\_trains)(hours)= reg\_demmurage
$$
  
$$
25,000(hc\_train)(hours) = hc\_demmurage  
$$

### Algorithm

In [ ]:
def mine_cost(crews):
    return (12/crews (24000*crews-6000))

def load_cost(crews):
    return (9/crews (36000*crews-9000))

def demurrage(trains,hctrain,time):
    return (time*(trains*15000)+(time*(hctrain*25000))

Pseudocode:
train_schedule=[]

for x in len(dataframe):
    train_schedule.append(sort(TrainA,TrainB,TrainC,TrainHC))

cost=0
for x in range(0,len(train schedule)):
    if time=-1:
        pass
    else:
        if train_schedule[1]-train_schedule[0]>2:
            cost+=load_cost(2)
        else:

In [ ]:
# df.to_csv("./output.csv")