In [1]:
import numpy as np
import pandas as pd

In [3]:
# 3 trains
schedule = pd.DataFrame(np.random.randint(5,21,size=(10000, 3)), columns=['TrainA','TrainB','TrainC'])
# # 4 trains
# schedule = pd.Dataframe(np.random.randint(5,21,size=(10000, 4), columns=['TrainA','TrainB','TrainC','TrainD'])

In [4]:
schedule.head()

   TrainA  TrainB  TrainC
0      20       8      17
1      13      12      12
2      13       8      12
3       8      11       7
4      10       7      13

In [5]:
schedule.describe()

             TrainA        TrainB        TrainC
count  10000.000000  10000.000000  10000.000000
mean      12.582200     12.561300     12.505800
std        4.620604      4.611808      4.581513
min        5.000000      5.000000      5.000000
25%        9.000000      9.000000      9.000000
50%       13.000000     13.000000     13.000000
75%       17.000000     17.000000     16.000000
max       20.000000     20.000000     20.000000

In [6]:
schedule.insert(loc=len(schedule.columns),column='TrainHC',value=np.random.randint(11,14,size=(10000,1)))

In [7]:
schedule.head()

   TrainA  TrainB  TrainC  TrainHC
0      20       8      17       12
1      13      12      12       11
2      13       8      12       12
3       8      11       7       13
4      10       7      13       12

In [8]:
for x in range(0,len(schedule['TrainHC'])):
    if x%7==4:
        pass
    else:
        schedule['TrainHC'][x]=-1

In [9]:
schedule.head()

   TrainA  TrainB  TrainC  TrainHC
0      20       8      17       -1
1      13      12      12       -1
2      13       8      12       -1
3       8      11       7       -1
4      10       7      13       12

### Check for duplicate arrival times for trains. 
### If two times coincide, generate random time for one.

In [10]:
for x in range(0,len(schedule['TrainHC'])):
    a=schedule.loc[x,'TrainA']
    b=schedule.loc[x,'TrainB']
    c=schedule.loc[x,'TrainC']
#     d=schedule.loc[x,'TrainD']
    hc=schedule.loc[x,'TrainHC']
    
    if x%7==4:
        # For 3 trains
        record_set=[a,b,c,hc]
        
#         ## For 4 trains
#         record_set=[a,b,c,d,hc]
        
        for y in range(0,len(record_set)):
            for z in range(y+1,len(record_set)):
                if record_set[y]==record_set[z]:
                    if z==(len(record_set)-1):
                        record_set[z]=np.random.randint(11,14)
                    else:
                        record_set[z]=np.random.randint(5,21)
            
        schedule.loc[x,'TrainA']=record_set[0]
        schedule.loc[x,'TrainB']=record_set[1]
        schedule.loc[x,'TrainC']=record_set[2]
        
        ## For calculating 3 trains
        schedule.loc[x,'TrainHC']=record_set[3]
        
#         ## For calculating 4 trains
#         schedule.loc[x,'TrainD']=record_set[3]
#         schedule.loc[x,'TrainHC']=record_set[4]
        
    else:
        # 3 Trains
        record_set=[a,b,c]
#         # 4 trains
#         record_set=[a,b,c,d]
        for y in range(0,len(record_set)):
            for z in range(y+1,len(record_set)):
                if record_set[y]==record_set[z]:
                    record_set[z]=np.random.randint(5,21)
        
        schedule.loc[x,'TrainA']=record_set[0]
        schedule.loc[x,'TrainB']=record_set[1]
        schedule.loc[x,'TrainC']=record_set[2]
#         # For 4 trains
#         schedule.loc[x,'TrainD']=record_set[3]

In [11]:
schedule.head()

   TrainA  TrainB  TrainC  TrainHC
0      20       8      17       -1
1      13      12      19       -1
2      13       8      12       -1
3       8      11       7       -1
4      10       7      13       12

In [12]:
# 3 trains
schedule.to_csv("./schedule.csv",index=False)

# #4 trains
# schedule.to_csv("./schedule4.csv",index=False)