In [1]:
import numpy as np
import pandas as pd

In [2]:
schedule = pd.DataFrame(np.random.randint(5,21,size=(100000, 3)), columns=['TrainA','TrainB','TrainC'])

In [3]:
schedule.head()

   TrainA  TrainB  TrainC
0       9      14      11
1      10      17      17
2       6      18      20
3      16      17      15
4       6      12      20

In [4]:
schedule.describe()

              TrainA         TrainB         TrainC
count  100000.000000  100000.000000  100000.000000
mean       12.503910      12.500940      12.482270
std         4.617757       4.617654       4.608158
min         5.000000       5.000000       5.000000
25%         9.000000       8.000000       8.000000
50%        13.000000      13.000000      12.000000
75%        17.000000      17.000000      16.000000
max        20.000000      20.000000      20.000000

In [5]:
schedule.insert(loc=len(schedule.columns),column='TrainHC',value=np.random.randint(11,14,size=(100000,1)))

In [6]:
schedule.head()

   TrainA  TrainB  TrainC  TrainHC
0       9      14      11       12
1      10      17      17       11
2       6      18      20       12
3      16      17      15       13
4       6      12      20       13

In [7]:
for x in range(0,len(schedule['TrainHC'])):
    if x%7==4:
        pass
    else:
        schedule['TrainHC'][x]=-1

In [8]:
schedule.head()

   TrainA  TrainB  TrainC  TrainHC
0       9      14      11       -1
1      10      17      17       -1
2       6      18      20       -1
3      16      17      15       -1
4       6      12      20       13

In [9]:
schedule.to_csv("./schedule.csv",index=False)